Repository cake-build/cake, pull requests merged in 2021-03, with the labels that each got.

#3220 GH-3219: Update nuspec iconUrl in packages to use CDN URL
  nuspec/Cake.CoreCLR.nuspec
  nuspec/Cake.Portable.nuspec
  nuspec/Cake.nuspec
Labels: Ready For Review, Response from Cake team required

#3145 GH-3144: TeamCityPullRequestInfo without GIT_BRANCH
  src/Cake.Common.Tests/Fixtures/Build/TeamCityInfoFixture.cs
  src/Cake.Common.Tests/Unit/Build/TeamCity/Data/TeamCityPullRequestInfoTests.cs
  src/Cake.Common/Build/TeamCity/Data/TeamCityEnvironmentInfo.cs
  src/Cake.Common/Build/TeamCity/Data/TeamCityPullRequestInfo.cs
Labels: Response from Cake team required

#3230 GH-3190: Set working directory before getting the build context
  src/Cake.Frosting/Internal/Commands/DefaultCommand.cs
Labels: Ready For Review

#3221 GH-2314: Allow setting MSBuild Platform using custom string
  src/Cake.Common.Tests/Unit/Tools/MSBuild/MSBuildSettingsExtensionsTests.cs
  src/Cake.Common/Tools/MSBuild/MSBuildSettingsExtensions.cs
Labels: Ready For Review, Response from Cake team required

#3234 Issue #3223: Adding environment variable substitution support for cake.config
  src/Cake.Core.Tests/Unit/Configuration/Parser/ConfigurationParserTests.cs
  src/Cake.Core/Configuration/Parser/ConfigurationParser.cs
Labels: Response from Cake team required, Waiting for issuer feedback

#3240 GH2578: Support version ranges with NuGet in-process installer
  src/Cake.Frosting.Example/Cake.Frosting.Example.csproj
  src/Cake.Frosting.Tests/Cake.Frosting.Tests.csproj
  src/Cake.Frosting/Cake.Frosting.csproj
  src/Cake.NuGet.Tests/Fixtures/NuGetContentResolverFixture.cs
  src/Cake.NuGet/Installers/InProcessInstaller.cs
  src/Cake.NuGet/NuGetContentResolver.cs
  src/Cake.Tests/Cake.Tests.csproj
  tests/integration/Cake.NuGet/InProcessInstaller.cake
  tests/integration/build.cake
Labels: Ready For Review, Response from Cake team required
